@{
    ViewBag.Title = "Home Page";
}
<style>
    #myCarousel {
        width: 100%;
        height: 90%;
    }

    #over img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">

        <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="/Images/img1.jpg" class="img-responsive">
        </div>
        <div class="item">
            <img src="/Images/img2.jpg" class="img-responsive">
        </div>
        <div class="item">
            <img src="/Images/img3.jpg" class="img-responsive">
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>



<div class="container-fluid navbar-default">
    <div class="row">
        <div class="col-sm-4">
            <h2 style="margin-left: 10px"><i>Address</i></h2>
            <p style="text-align: justify; margin-left: 10px">
                <b>
                    <i>
                        House 56, Rd 4/A, Satmasjid Road <br> Dhanmondi, Dhaka-1209, Bangladesh<br> <br />
                        Mobile: 01714-161613, 01713-091936 <br />Phone: 966-1255 Fax: +88-02-9660610
                    </i>
                </b>
            </p>
        </div>
        <div class="col-sm-4">
            <ul class="list-group" style="margin-top: 25px">
                <li class="list-group-item"><a href="https://ulab.edu.bd/">Website of ULAB</a></li>
                <li class="list-group-item"><a href="https://www.facebook.com/Department-of-Computer-Science-Engineering-ULAB-1504900173112187/?fref=nf">Facebook</a></li>
                <li class="list-group-item">@Html.ActionLink("Contact Us", "Contact", "Home")</li>
            </ul>
        </div>
        <div id="over" class="col-sm-4" style="text-align: center">
            <div class="text-center">
                <img src="/Images/UlabLogo.gif" class="img-responsive" style="margin-top: 25px" width="180" />
            </div>
        </div>
    </div>
</div>
