@{
    ViewBag.Title = "RegistrarReport";
}

<div id="registerReport">
    <img src="https://3.bp.blogspot.com/-p1hYNwSm-uw/V2rtMVls9FI/AAAAAAAAAcQ/-oDKjbJgmeULXDOIU3qV4c46OBGEVbW5wCLcB/s1600/CseDepartmentLogo.jpg" />
    <table class="table-bordered" id="registerReport" cellpadding="05">
        <tr>
            <th colspan="7">Schedule for Fall 2016</th>
        </tr>
        <tr>
            @*<th rowspan=2>Serial</th>*@
            <th rowspan=2>Term</th>
            <th colspan=2>Course</th>
            <th rowspan=2>Section</th>
            <th rowspan=2>Faculty</th>
            <th rowspan=2>Time</th>
            <th rowspan=2></th>
        </tr>
        <tr>
            <th>Code</th>
            <th>Title</th>
        </tr>
        @Html.Raw(ViewBag.html)


        @*Nuha. it is CSE Elective*@

        <tr>
            <td rowspan="5">13 CSE Elective</td>
            <td>CSE 432</td>
            <td>Introduction of Quantum Computer</td>
            <td>1</td>
            <td>DSH</td>
            <td>MW 01.10PM - 02.30PM</td>
            <td></td>
        </tr>
        <tr>
            <td>CSE 408</td>
            <td>Computer Modeling and Simulation</td>
            <td>1</td>
            <td>SIM</td>
            <td>MW 10.00AM - 11.30AM</td>
            <td>Lab Required</td>
        </tr>
        <tr>
            <td>CSE 403</td>
            <td> E-Commerce</td>
            <td>1</td>
            <td> TBA </td>
            <td>ST 02.40PM - 04.00PM</td>
            <td>Lab Required</td>
        </tr>
        <tr>
            <td>CSE 411 </td>
            <td> Compiler Design </td>
            <td> 1 </td>
            <td> IfM </td>
            <td> ST 11.30AM - 12.50PM</td>
            <td> </td>
        </tr>
       

        <tr>
            <td>CSE 429 </td>
            <td> Digital Image Processing </td>
            <td> 1 </td>
            <td> MSU </td>
            <td> ST 02.40PM - 04.00PM</td>
            <td> </td>
        </tr>
        @*Nuha CSE Elective ends*@



        @*Nuha. CSE Minors*@
        <tr>
            <td rowspan="14">14 CSE Minors</td>
            <td>CSE 103</td>
            <td>Structured Programming</td>
            <td> 2 </td>
            <td>FS</td>
            <td>MW 02.40PM - 04.00PM</td>
            <td>Lab Required</td>
        </tr>

        <tr>
            <td>CSE 104</td>
            <td>Structured Programming and Lab</td>
            <td> 2 </td>
            <td>FS</td>
            <td>MW 04.10PM - 05.30PM</td>
            <td>Lab Required</td>
        </tr>

        <tr>
            <td>CSE 403</td>
            <td> E-Commerce</td>
            <td>1</td>
            <td> TBA </td>
            <td>ST 02.40PM - 04.00PM</td>
            <td>Lab Required</td>
        </tr>
        <tr>
            <td>CSE 412 </td>
            <td>Programming with Java</td>
            <td> 1 </td>
            <td> SIM </td>
            <td>MW 01.10PM - 02.30PM</td>
            <td>Lab Required</td>
        </tr>

        <tr>
            <td>CSE 413 </td>
            <td>Programming with Java Lab </td>
            <td> 1 </td>
            <td> SIM </td>
            <td>MW 11.30AM - 12.50PM</td>
            <td>Lab Required</td>
        </tr>
        
        <tr>
            <td>CSE 412 </td>
            <td>Programming with Java</td>
            <td> 2 </td>
            <td> TBA </td>
            <td>ST 10.00AM - 11.20AM</td>
            <td>Lab Required</td>
        </tr>

        <tr>
            <td>CSE 413 </td>
            <td>Programming with Java Lab </td>
            <td> 2 </td>
            <td> TBA </td>
            <td>ST 08.30AM - 09.50AM</td>
            <td>Lab Required</td>
        </tr>


        

        <tr>
            <td>CSE 417 </td>
            <td> Automata and Theory of Computation </td>
            <td> 1 </td>
            <td> SIM </td>
            <td> ST 01.10PM - 02.30PM</td>
            <td> </td>
        </tr>
        
        <tr>
            <td>CSE 417 </td>
            <td> Automata and Theory of Computation </td>
            <td> 2 </td>
            <td> TBA </td>
            <td> MW 01.10PM - 02.30PM</td>
            <td> </td>
        </tr>


        <tr>
            <td>CSE 303 </td>
            <td> Database Management System </td>
            <td> 1 </td>
            <td> NafM </td>
            <td> ST 04.10PM - 05.30PM</td>
            <td>Lab Required</td>
        </tr>

        <tr>
            <td>CSE 303 </td>
            <td> Database Management System </td>
            <td> 2 </td>
            <td> MAsR </td>
            <td> ST 01.10PM - 02.30PM</td>
            <td>Lab Required</td>
        </tr>


        <tr>
            <td>CSE 429 </td>
            <td> Digital Image Processing </td>
            <td> 1 </td>
            <td> MSU </td>
            <td> ST 02.40PM - 04.00PM</td>
            <td> </td>
        </tr>

        <tr>
            <td>CSE 480 </td>
            <td> Web Technology </td>
            <td> 1 </td>
            <td> NAfM </td>
            <td> MW 11.30AM - 12.50PM</td>
            <td>Lab Required</td>
        </tr>

        <tr>
            <td> CSE 480 </td>
            <td> Web Technology </td>
            <td> 2 </td>
            <td> NafM </td>
            <td> ST 01.10PM - 02.30PM</td>
            <td> Lab Required</td>
        </tr>

        @*Nuha CSE Minors ends*@

    </table>



    @*Nuha Prerequisites*@

    <p>
        <u>Pre-requisite for Math Courses</u>
    </p>
    <table class="table-bordered" id="registerReportPrerequisite" cellpadding="08">
        <tr>
            <th>Code</th>
            <th>Title</th>
            <th>Pre-requisite</th>
        </tr>
        <tr>
            <td> MAT 102 </td>
            <td> Co-ordinate Geometry and Linear Algebra </td>
            <td> MAT 101 </td>
        </tr>

        <tr>
            <td> MAT 201 </td>
            <td> Differential Equation and Numerical Analysis </td>
            <td> MAT 102 </td>
        </tr>

        <tr>
            <td> MAT 203 </td>
            <td> Mathematical Methods</td>
            <td> MAT 201 </td>
        </tr>
    </table>



    <p>
        <u>Policy for enrolling CSE courses as Minor</u>
    </p>
    <p style="margin-left: 20px">
        *CSE103 + CSE104 <b>Section 2 is offered as CSE Minor.</b> Students are encouraged to enroll it unless time schedule clash. Students should take both CSE 103 & CSE 104 at the same semester and also in the same section.
    </p>



    <p>Prerequisite</p>
    <table class="table-bordered" id="registerReportPrerequisite" cellpadding="05">
        <tr>
            <th>code</th>
            <th>Title</th>
            <th>Prerequisite</th>
        </tr>


        <tr>
            <td> CSE 412 & CSE 413 </td>
            <td>Programming with Java and Lab</td>
            <td> Completed CSE103 in previous semesters </td>
        </tr>

        <tr>
            <td> CSE 417 </td>
            <td> Automata and Theory of Computation</td>
            <td> Completed CSE103 in previous semesters </td>
        </tr>

        <tr>
            <td> CSE 429 </td>
            <td> Digital Image Processing </td>
            <td> Completed CSE103 & MAT 101 in previous semesters </td>
        </tr>

        <tr>
            <td> CSE 480 </td>
            <td> Web Technology </td>
            <td> Completed CSE103 in previous semesters </td>
        </tr>


    </table>

    @*Nuha Prerequisites ends*@

    <p>Instructor initial:</p>
    <table>
        @foreach (var teacher in ViewBag.teacherList)
        {
            <tr>
                <td>@teacher.ShortName</td>
                <td>@teacher.Name</td>
            </tr>
        }
    </table>
</div>


<a href="#" onclick="return xepOnline.Formatter.Format('registerReport',{render:'download'});">
    Save as PDF (With Script)
</a>

@section Scripts {

    <script type="text/javascript" src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/xepOnline.jqPlugin.js"></script>

}